apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: api-gateway
  labels:
    stage: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: social-network/api-gateway:dev
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: ENC_KEY
              valueFrom:
                secretKeyRef:
                  name: encryption-secret
                  key: ENC_KEY