# macOs
.DS_Store

# debug files
.vscode
*.bin
*.exe
__debug_bin*

test_output
downloads
.idea
idea
/.idea
/idea
backend/services/post-service


downloads.txt
wget
wget-log
mirror-log
dev-log.txt
downloader-log

# Downloads
*.html
*.css
*js
*.zip
*.img
*.jpg
*.png
*.xml
*.com
*.io
*.gz
*.part
*.mirror