apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
  namespace: notifications
  labels:
    stage: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox
          command: ['sh', '-c', 'until nc -z notifications-db-rw 5432; do echo waiting for db; sleep 2; done']
      containers:
        - name: notifications
          image: social-network/notifications:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50051
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: notifications-app-secret
                  key: DATABASE_URL
            - name: ENC_KEY
              valueFrom:
                secretKeyRef:
                  name: notifications-app-secret
                  key: ENC_KEY

