apiVersion: apps/v1
kind: Deployment
metadata:
  name: media
  namespace: media
  labels:
    stage: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: media
  template:
    metadata:
      labels:
        app: media
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox
          command: ['sh', '-c', 'until nc -z media-db-rw 5432; do echo waiting for db; sleep 2; done']
      containers:
        - name: media
          image: social-network/media:dev
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50051
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: media-app-secret
                  key: DATABASE_URL
            - name: ENC_KEY
              valueFrom:
                secretKeyRef:
                  name: media-app-secret
                  key: ENC_KEY
            - name: MINIO_ENDPOINT
              value: "minio.storage:9000"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-secret
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-secret
                  key: MINIO_SECRET_KEY

