apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-cors
  namespace: storage
  labels:
    stage: config
data:
  cors.xml: |
    <CORSConfiguration>
      <CORSRule>
        <AllowedOrigin>*</AllowedOrigin>

        <AllowedMethod>GET</AllowedMethod>
        <AllowedMethod>PUT</AllowedMethod>

        <AllowedHeader>Content-Type</AllowedHeader>
        <AllowedHeader>Authorization</AllowedHeader>
        <AllowedHeader>x-amz-date</AllowedHeader>
        <AllowedHeader>x-amz-content-sha256</AllowedHeader>

        <ExposeHeader>ETag</ExposeHeader>
        <MaxAgeSeconds>3000</MaxAgeSeconds>
      </CORSRule>
    </CORSConfiguration>