
apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: redis
  labels:
    stage: db
spec:
  selector:
    app: redis
    role: master
  ports:
    - port: 6379
      targetPort: 6379
  clusterIP: None