services:
  social-sphere:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: social-sphere
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
