apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
  labels:
    stage: config
data:
  grafana.ini: |
    [server]
    http_port = 3001
    domain = localhost

    [plugins]
    preinstall = redis-datasource,victoriametrics-logs-datasource,victoriametrics-metrics-datasource,jaeger-datasource,kafka-datasource