apiVersion: v1
kind: Service
metadata:
  name: forum
  namespace: forum
  labels:
    stage: app
spec:
  selector:
    app: forum
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
