apiVersion: v1
kind: Service
metadata:
  name: users-db
  namespace: users
  labels:
    stage: db
spec:
  selector:
    app: users-db
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  type: ClusterIP
